<div class="page-header">
  <h1>Listing categories</h1>
</div>

<div class="list-group">
  <% @categories.each do |category| %>
        <%= link_to category.category_name, category_products_path(category), {class: "list-group-item"}  %>
  <% end %>
</div>
