<div class="page-header">
  <%= link_to options= {controller:"categories"}, html_options= {class:"btn btn-primary"}  do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Back to Categories
  <% end %>
  <% if @category %>
    <h1><%= @category.category_name %></h1>
  <% else %>
    <h1>Listing products</h1>
  <% end %>

</div>

<div class="list-group">
  <% @products.each do |product| %>
      <%= link_to product.product_name, category_product_path(product.category, product), {class:"list-group-item"} %>
  <% end %>
</div>

<%= paginate @products %>

